[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"
fastapi = "*"
omegaconf = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}
aiomysql = "*"
duckdb = "*"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
nicegui = "*"

[dev-packages]

[requires]
python_version = "3.12"
